ЗАДАНИЕ 2.4

In [4]:
import pandas as pd
def create_medications(names, counts):
    medications = pd.Series(index=names, data=counts)
    return medications
def get_percent(medications, name):
    return(medications.loc[name]/sum(medications) * 100)

names=['chlorhexidine', 'cyntomycin', 'afobazol']
counts=[15, 18, 7]
medications = create_medications(names, counts)

display (medications)
print(get_percent(medications, "chlorhexidine"))

chlorhexidine    15
cyntomycin       18
afobazol          7
dtype: int64

37.5

Задание 3.5

In [22]:
import pandas as pd
def create_companyDF(income, expenses, years):
    df = pd.DataFrame({
        'Income': income,
        'Expenses': expenses
        },
        index = years
    )
    return df
def get_profit(df, year):
    if year in df.index:
        profit = df.loc[year, 'Income'] - df.loc[year, 'Expenses']
    else:
        profit=None
    return profit

print(get_profit(year = 2018, df = create_companyDF([612, 516, 329, 158], [136,163,250,361], [2017,2018,2019,2020])))

353

In [5]:
import pandas as pd
student_data = pd.read_csv('data/students_performance.csv', sep=',')
display(student_data)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [6]:
display(student_data.head())

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [7]:
student_data.shape

(1000, 8)

In [8]:
student_data.loc[155, 'writing score']

88

In [9]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [10]:
print(student_data['math score'].mean())

66.089

In [13]:
print(student_data['race/ethnicity'].mode())

0    group C
Name: race/ethnicity, dtype: object

In [16]:
s_1=student_data[student_data['test preparation course'] == 'completed']
s_1['reading score'].mean()

73.89385474860335

In [17]:
student_data[student_data['math score'] == 0]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
59,female,group C,some high school,free/reduced,none,0,17,10

In [18]:
s_2=student_data[student_data['lunch'] == 'standard']
s_2['math score'].mean()

70.03410852713178

In [19]:
s_3=student_data[student_data['lunch'] == 'free/reduced']
s_3['math score'].mean()

58.92112676056338

In [35]:
s_4=student_data[student_data['race/ethnicity'] == 'group A']
s_5=student_data[student_data['race/ethnicity'] == 'group C']
s_4['writing score'].std()-s_5['writing score'].mean()

-52.35930834475466